@keyframes slideInRight {
 from {opacity: 0;
 transform: translateX(200);}
 to {opacity: 1;transform: translateX(0);}
}
@keyframes slideInLeft {
 from {opacity: 0;
 transform: translateX(-200);}
 to {opacity: 1;transform: translateX(0);}
}
.slide-in-right{
animation-name: slideInRight;
animation-timing-function: ease-in;
 animation-duration: 200ms;
}
.slide-in-left{
animation-name: slideInLeft;
animation-timing-function: ease-in;
 animation-duration: 200ms;
}